*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:linear-gradient(135deg,#4facfe,#00f2fe);

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;
}

.container{

    width:500px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0px 8px 20px rgba(0,0,0,0.3);
}

h1{

    text-align:center;

    color:#0077ff;

    margin-bottom:20px;
}

.input-box{

    display:flex;

    gap:10px;

    margin-bottom:20px;
}

input{

    flex:1;

    padding:12px;

    border:2px solid #ddd;

    border-radius:8px;

    font-size:16px;
}

input:focus{

    outline:none;

    border-color:#007bff;
}

.add-btn{

    background:#007bff;

    color:white;

    border:none;

    padding:12px 18px;

    border-radius:8px;

    cursor:pointer;
}

.add-btn:hover{

    background:#0056d2;
}

ul{

    list-style:none;
}

li{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#f3f3f3;

    padding:12px;

    margin-bottom:12px;

    border-radius:10px;
}

.delete-btn{

    background:red;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:8px;

    cursor:pointer;
}

.delete-btn:hover{

    background:darkred;
}

.completed{

    text-decoration:line-through;

    color:green;

    font-weight:bold;
}